body {
  background-color: black;
}
a {
  text-decoration: none;
  color: #485fc7;
}
a:visited {
  text-decoration: none;
  color: #485fc7;
}
a:hover {
  color: #4a4a4a;
}
.has-text-centered {
  text-align: center;
}
.has-text-white {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}

.projects {
  padding-top: 40px;
  padding-bottom: 40px;
}
.project {
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;
  max-width: 50vw;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 30px;
}
.project-p {
  margin-top: 1px;
  margin-bottom: 3px;
}
.project-button {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 0.5em;
}
.heading {
  margin-top: 10px;
  font-size: 2rem;
  margin-bottom: 5px;
  font-weight: bold;
}
.button {
  padding: 10px;
  font-size: 1rem;
  color: #4a4a4a;
  cursor: pointer;
}
.links {
  font-size: 1.5rem;
  margin-left: 5vw;
  margin-right: 5vw;
}
.about-me_heading {
  font-family: "Manrope", sans-serif;
  color: #4a4a4a;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.main-links {
  cursor: pointer;
}
.navbar {
  background: #0a0a0a;
  text-align: center;
}
.nav-button {
  height: 5vh;
}
.nav-link {
  margin: 0 20px;
  font-family: "Manrope", sans-serif;
  display: inline-block;
}
.nav-p {
  font-size: 1.4rem;
  color: #f0ffff;
}
.nav-p:hover {
  color: #485fc7;
}
#blog {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 99vw;
}

@media screen and (max-width: 407px) {
  .project {
    /* background-color: red; */
    min-width: 300px;
    max-width: 95%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
